body {
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-control {
  width: 300px;
  margin-bottom: 5px;
}

.btn.cell {
  margin: 5px auto !important;
}

.navbar {
  border: 0px;
  border-radius: 0px !important;
}

.navbar-form {
  margin-top: 13px;
  margin-bottom: 13px;
}


.alert.cell {
  padding: 9px 5px !important;
  min-width: 120px;
  margin-bottom: 0px;
}

.btn.btn-cell, .alert.alert-cell {
  margin: 0px auto !important;
  min-height: 40px;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 8px 14px !important;
  font-size: 18px;
  line-height: 1 !important;
  border-radius: 6px;
}

@media (min-width: 992px) {
  body {
    padding-left: 280px;
  }
}

.container.flex-container {
  width: auto;
}

@media (min-width: 768px)
.navbar-nav>li>a {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.navbar-brand {
  height: 60px;
  padding: 20px 15px;
}

.popover {min-width: 300px; max-width:400px;}
.popover-content.form-control {width:120px;}

.dropdown-menu.navmenu-nav {
  display: block !important;
}

.navmenu, .navbar-offcanvas {
  width: 280px !important;
}

table.jadwal-seminar>tbody>tr>td {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  min-width: 150px;
  max-width: 150px;
  width: 150px;
}

table.jadwal-seminar>tbody>tr>td>div {
  vertical-align: middle;
  text-align: center;
  height: 100%;
  overflow-y: scroll;
}

table.jadwal-seminar>thead>tr>th {
  text-align: center;
}

/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 150px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

.container-below-navbar-fixed-top {
  padding-top: 80px;
}

.breadcrumb {
  margin-bottom: 0;
}

.modal-body>.alert {
  margin-bottom: 0;
}